<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-header">Send a message</div>
            <div class="card-body">
                <form>
                    <div class="mb-2">
                        <label class="form-label">Sender</label>
                        <input type="text" class="form-control" value="@User.Identity.Name" id="senderEmail" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Reciever</label>
                        <input type="text" class="form-control" id="recieverEmail" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Message</label>
                        <input type="text" class="form-control" id="chatMessage" />
                    </div>
                    <div class="mb-2">
                        <input type="button" id="sendMessage" class="btn btn-primary" value="Send Message" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="col-5">
        <ul id="messageList"></ul>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>