<div class="container">
    <div class="row">
        <div class="col-3">Total Views: </div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js">
    //we added the client side library of signalR inside our index view
</script>

